<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :server_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :server_description %>
  </div>

  <div class="field">
    <%= form.label :logo_url %>
    <%= form.text_field :logo_url, id: :server_logo_url %>
  </div>

  <div class="field">
    <%= form.label :server_url %>
    <%= form.text_field :server_url, id: :server_server_url %>
  </div>

  <div class="field">
    <%= form.label :git_remote %>
    <%= form.text_field :git_remote, id: :server_git_remote%>
  </div>

  <div class="field">
    <%= form.label :jira_iframe_url %>
    <%= form.text_field :jira_iframe_url, id: :jira_iframe_url %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
